<h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb
Both of these views are just placeholders: they have a top-level heading (inside the h1 tag) and a paragraph (p tag) with the full path to the corresponding file.</p>
