<div class = "center jumbotron">
	<h1>Welcome Home</h1>

	<h2>
		This is the home page for the 
		<a href="http://www.railstutorial.org">Ruby on Rails Tutorial</a> sample application.
	</h2>

	<p>You have already login the Sample_app</p>

</div>